sudo: required
language: generic
services:
- docker

before_install:
  - curl https://install.meteor.com | /bin/sh
  - export PATH="$HOME/.meteor:$PATH"
  - pip install --user awscli
  - export PATH=$PATH:$HOME/.local/bin
  - curl -o $HOME/.local/bin/ecs-cli https://s3.amazonaws.com/amazon-ecs-cli/ecs-cli-linux-amd64-latest && chmod +x $HOME/.local/bin/ecs-cli

install:
 - sed -i "s/header_addl_info.*/header_addl_info = \"$(git describe --always)\"/g" ./custom/index.html.tmpl
 - docker build -t uneet/bugzilla-customisation .

after_success:
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker push uneet/bugzilla-customisation;
    fi

# https://docs.travis-ci.com/user/deployment/script/
deploy:
  provider: script
  script: bash deploy.sh
  skip_cleanup: true
  on:
      branch: master
