[mysqld]
# Allow small words in full-text indexes
ft_min_word_len=2

[mysql]
# increase to allow big attachments
max_allowed_packet      = 128M

[mysqld]
max_allowed_packet      = 128M

# Slow query settings:
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow.log
long_query_time=0.1
