[%
   title = "UneeTBridge"
   desc = "Setup to define the global parameters of this extension"
%]
[% param_descs = {
  cases_server_url => "Set the cases server url that would be used to generate API requests from Bugzilla",
  }
%]

